<mat-card>
  
  <form formGroupName="grp1" class="container" ngNativeValidate ybAddress (ngSubmit)="false" [ybAutocompleteMode]="'off'" #address="ybAddress">
      <mat-card-actions>
        <p *ngIf="!memsrv.claims"> ページ上部の「sign in with google」ボタンをクリックして、googleアカウントでログインするか、新規アカウントを作成してください </p>
        <div *ngIf="memsrv.claims">
          <h2>イベント【{{memsrv.frmInfo.title}}】予約申込（開催日：{{memsrv.frmInfo.date}}）</h2>
          <p *ngIf="!memsrv.flgSm && !memsrv.flgLm && !memsrv.flgBy">
            <button mat-flat-button color="accent" (click)="goForm()" [disabled]="parent.form.invalid">予約申込</button>
          </p>
          <p *ngIf="parent.form.invalid">
            *印の項目にすべて入力してください。
          </p>
          <p *ngIf="memsrv.flgSm">
            表示中の予約者枝番で予約申込済です。
          </p>
          <p *ngIf="memsrv.flgLm && !memsrv.flgBy">
            誠に申し訳ありませんが、本イベントは定員に達しました。またのご利用をお待ちしております。
          </p>
        </div>
        <p *ngIf="memsrv.flgBy">
          本イベントの申込受付期限を過ぎております。またのご利用をお待ちしております。
        </p>
      </mat-card-actions>
      <mat-card-title>  
        <h2>空手オンラインサロン予約 登録者情報（ {{memsrv.dojo}} ）</h2>
        <!-- <button mat-flat-button color="warn" (click)="upd_tblmem()">決済</button>   -->
        <!-- <button mat-flat-button color="warn" (click)="test(thisForm)">test</button> -->
      </mat-card-title>
      <mat-card-content *ngIf="memsrv.claims">       
        <div fxLayout="row" fxLayoutGap="7px">
          <mat-form-field>
            <mat-label>メール</mat-label>
            <input matInput [value]="memsrv.member.mail" name="mai" disabled>
          </mat-form-field>
          <mat-form-field style="width:4em">
            <mat-label>団体・道場ID</mat-label>
            <input matInput [value]="memsrv.djid" disabled>
          </mat-form-field>
          <mat-form-field style="width:7em">
            <mat-label>予約者番号</mat-label>
            <input matInput [value]="memsrv.member.memid" disabled>
          </mat-form-field>
          <mat-form-field style="width:4em">
            <mat-label>予約者枝番</mat-label>
            <mat-select formControlName="eda" required (selectionChange)="changeEda($event.value)">
              <mat-option *ngFor="let mem of memsrv.membs" [value]="mem.eda">
                {{ mem.eda }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!memsrv.flgLm && !memsrv.flgBy">
            <p><button mat-flat-button color="warn" (click)="insEda()" *ngIf="this.memsrv.flgEx && !this.memsrv.flgEd">枝番(兄弟など)追加</button></p>
            <p><button mat-flat-button color="accent" (click)="delEda()" *ngIf="this.memsrv.flgEx && this.memsrv.flgEd">枝番追加取消</button></p>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="7px">
          <mat-form-field>
            <mat-label>姓</mat-label>
            <input matInput formControlName="sei" required>
          </mat-form-field>
          <mat-form-field >
            <mat-label>名</mat-label>
            <input matInput formControlName="mei" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>クラス</mat-label>
            <input matInput formControlName="class">
          </mat-form-field>
          <mat-form-field>
            <mat-label>生年月日</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>電話番号</mat-label>
            <input matInput formControlName="tel">
          </mat-form-field>
        </div>       
        <div fxLayout="row" fxLayoutGap="7px">
          <mat-form-field>
            <mat-label>郵便番号</mat-label>
            <input matInput formControlName="zip" ybPostalCode required>
            <button mat-button matSuffix mat-stroked-button aria-label="get" (click)="address.complete()">
              住所補完
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>都道府県</mat-label>
            <input matInput formControlName="region" ybRegion required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>市区町村</mat-label>
            <input matInput formControlName="local" ybLocality required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>町名・番地</mat-label>
            <input matInput formControlName="street" ybStreet required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>マンション・ビル名</mat-label>
            <input matInput formControlName="extend" ybExtended>
          </mat-form-field>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
